*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.2em;
  
}

header .header {
  display: flex;
  
  width: 100%;
  margin: auto;
  height: 80px;
  align-items: flex-start;
  background: #fff;
  position: fixed;
  z-index: 3;
  top: 0;
}

nav {
  overflow: hidden;
  flex: 4;
}

.navbar ul {
  float: left;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  color: #333;
  text-align: right;
  margin-left: 60%;
  list-style: none;
  text-decoration: none;
  font-size: 1em;
}
.navbar a {
  color: #000;
  text-transform: uppercase;
}

.navbar a:hover{
  color: #a37303;
}
.navbar .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .navbar a {display: none;}
  .navbar a.icon {
    float: right;
    display: block;
    
  }
  .header {
    height: 60px;
    padding: 0;
  }
}

@media screen and (max-width: 600px) {
  .navbar.responsive {position: relative;}
  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .navbar ul{
    width: 100%;
    justify-items: flex-start;
    margin: auto;
    padding: 0;
  }
 
}

.logo-container {
  flex: 1;
  justify-items: center;
}

@media screen and (max-width: 600px) {
  .logo-container{
    display: none;

  }
  
}


.logo-container h5{
  text-align: left;
  padding-top: 0;
}

.header-img{
  width: 7em;
  height: 3em;
  padding-top: 0;

}


.main-page {
  background:  url(./img/bg-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: absolute;
  justify-items: center;
  z-index: -2;
}

.container-main {
  background: #757272;
  opacity: 0.9;
  overflow: hidden;
  z-index: 1;
  color: #fff;
}

.section-1 {
  padding-top: 40px;
  position: relative;
}

.section-1 .text-area h3 {
  text-align: center;
}

.services {
  margin: 80px 0;
}

.section-1 .text-area p {
  text-align: center;
}

.section-1 .webuy{
  display: block;
  margin: auto;
}

.section-1 .webuy .webuy-text {
  flex: 1;
}

.section-1 .webuy .webuy-carousel {
  width: 40%;
  border: black 2px bold;
  margin: auto;
  z-index: 2;
}

.section-1 .webuy{
  margin-top: 80px;
}

.webuy-carousel .carousel img{
  height: 280px;
  
  margin: auto;
  
}

iframe {
  width: 50%;
  margin: auto;
  display: block;
  justify-content: center;
  min-height: 315px;
}

.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 50px;
}

.section-2 h3{
  text-transform: capitalize;
  padding-bottom: 4px;
  text-align: center;
}
.section-2 p{
  text-align: center;
  padding-bottom: 8px;
}
.section-2 .member {
  text-align: center;
  border: 1px #ccc solid;
  flex-basis: 30%;
}

.section-2 .team-img {
  width: 100%;
  height: 150;
}

.section-2 .member small{
  padding-top: 0;
  margin-top: 0;
}

.section-2 .member h3{
  padding-bottom: 0;
  margin-bottom: 0;
}

.about{
  text-align: center;
  padding: 1.3em;
  margin-top: 50px;
}
.about h3{
  text-transform: uppercase;
 
}
footer {
  background-color: #cac9c7;
  padding-top: 1.4em;
  z-index: 1;
}

footer h4 {
  text-align: center;
}

footer .links-contact {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

footer .contact {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


footer .contact input, footer .contact input[type="submit"], footer .contact textarea {
  width: 100%;
  margin:0 0 6px 0;
}

footer .contact input[type="email"] {
  text-align: center;
}

footer .contact input[type="submit"] {
  background-color: #666;
  color: #f4f4f4;
  font-size: 1.1em;
}


footer textarea{
  margin: auto;
  min-height: 120px;
}

footer .links {
  flex-basis: 20%;
}

footer .links  {
  padding-top: 10px;
}

footer .links ul{
  list-style: none;
  text-align: center;
}

footer .links a {
  font-size: 1.0em;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
}

footer .links a:hover {
  color: #06a159;
}

footer .social{
  flex-basis: 20%;
  
}

footer .social ul{
 display: flex;
 justify-content: space-around;
 list-style: none;
}

footer .social .list-link {
  justify-items: center;
  margin-top: 40px;
}

footer .copy{
  text-align: right;
}

@media screen and (max-width: 820px) {
  .container{
    display: block;
    width: 80%;
  }

  .section-2 .member{
    margin-bottom: 15px;
  }

  footer .contact .form-group {
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
  }

  footer .links-contact {
    display: block;
  }

  footer .links a {
    font-size: 0.8em;
    
  }

  footer .social ul {
    justify-content: center;
  }
  footer .social i {
    padding-right: 6px;
    
  }
  .copy p{
    font-size: 0.6em;
  }
}
